.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.wallet-panel {
  width: 100%;
  /* 继承父元素宽度 */
  border: 1px solid grey;
  /* 灰色边框 */
  border-radius: 10px;
  /* 圆角 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wallet-sub-panel {
  margin: 10px;
  text-align: center;
  /* 内容居中 */
}

.rounded-button {
  border-radius: 10px;
  border: 1px solid grey;
  background-color: white;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}

.rounded-button:disabled {
  border: 1px solid grey;
  color: black;
  background-color: white;
}

.rounded-button:hover:enabled {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.line {
  padding-top: 4px;
  padding-bottom: 4px;
}