.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Make sure it's above other elements */
}

.modal-content {
  background: #f3f3f3; /* This color should match the game panel */
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #ccc; /* This color should match the game border style */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h2 {
  color: #333; /* Adjust to match the game text color */
  margin-bottom: 20px;
}

button.arrow-key {
  border-radius: 5px;
  border: 1px solid grey;
  background-color: white;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.arrow-key:active {
  background-color: lightgrey;
  border-color: grey;
}

button.rejoin-game {
  background-color: #c91f1f; /* Button color */
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button.rejoin-game:hover {
  background-color: #b90000;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.wallet-panel {
  width: 100%;
  /* 继承父元素宽度 */
  border: 1px solid grey;
  /* 灰色边框 */
  border-radius: 10px;
  /* 圆角 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wallet-sub-panel {
  margin: 10px;
  text-align: center;
  /* 内容居中 */
}

.rounded-button {
  border-radius: 10px;
  border: 1px solid grey;
  background-color: white;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}

.rounded-button:disabled {
  border: 1px solid grey;
  color: black;
  background-color: lightgrey;
}

.rounded-button:hover:enabled {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.line {
  padding-top: 4px;
  padding-bottom: 4px;
}

.event-banner:hover {
  cursor: pointer;
}

.event-banner:active {
  background-color: lightgrey;
  border-color: grey;
}
